@model List<ProductListComponentViewModel>

<table class="table table-warning table-striped">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Renk</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UrunAdı</td>
                <td>@item.Renk</td>
            </tr>
        }
    </tbody>
</table>