@using MvcDeneme.ViewModel

@model ProductListPartialViewModel

<table class="table table-success table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Ad</th>
            <th>Fiyat</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.UrunAdı</td>
                <td>@item.Fiyat</td>
            </tr>
        }
    </tbody>
</table>

