
@{
    ViewData["Title"] = "Visitor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><italic>Visitor</italic></h1>

<div class="row-cols-2">
    <div class="col-md">
        <vc:visitor type="1"></vc:visitor>
    </div>
    <div class="col-md">
        <vc:visitor type="2"></vc:visitor>
    </div>
</div>